<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regal Care, Inc.</title>
</head>
<div class="wrapper">
    <header>
      <nav>
        <a href="/" class="nav-link">Home</a>
     
        <a href="/login" class="nav-link">Login</a>
        {{#if session.loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{/if}}
      </nav>
      
      <div class="title-container">
        <h1>Regal Care, Inc.</h1>
      </div>
    </header>
<body>

  <main>
    {{{body}}}
  </main>
</body>

<script src="/js/logout.js"></script>

</html>