
<link rel="stylesheet" href="css/style.css" />

<div class="hero is-primary is-small has-background-link">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-2 has-text-white">Application</h2>
    </div>
  </div>
</div>

<h3>Please upload your resume!</h3>

<form>
    <input type="hidden" name="avatar_url" id="avatar_url" class="simple-file-upload"> 
</form>  

{{!-- this job container should display only the job selected --}}
<div class="jobContainer"></div >
<form>
    <input type="hidden" name="avatar_url" id="avatar_url" class="simple-file-upload"> 
</form>

{{!-- script below should be updated with js/viewjob.js --}}
<script src="js/jobHandler.js"></script>