<form class="posting-form">
    <input type="text" id="job-title" placeholder="title"/>
    <input type="text" id="job-location" placeholder="location"/>
    <input type="text" id="job-description" placeholder="description"/>
    <input type="text" id="job-salary" placeholder="salary"/>
    <input type="text" id="job-type" placeholder="type"/>
    <input type="text" id="job-duration" placeholder="duration"/>

     <button type="submit">Submit</button>
</form>

<script src="/js/createjob.js"></script>
