<div class="hero is-primary is-small has-background-link">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-2 has-text-white">My Posted Jobs</h2>
    </div>
  </div>
</div>

<div class="box container" id="job-container">
    
</div>

<script src="/js/viewmyjobs.js"></script>