<link rel="stylesheet" href="css/style.css" />

<div class="hero is-primary is-small has-background-link">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-2 has-text-white">Dashboard</h2>
      {{#if session.consultant}}
        <p class="has-text-weight-light">Consultant</p>
      {{/if}}
      {{#if session.employer}}
        <p class="has-text-weight-light">Employer</p>
      {{/if}}
    </div>
  </div>
</div>

<div class="jobContainer"></div >
<form>
    <input type="hidden" name="avatar_url" id="avatar_url" class="simple-file-upload"> 
</form>
<script src="js/jobHandler.js"></script>

