<div class="hero is-halfheight is-primary has-background-link">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-1 has-text-white">Regal Care</h2>
    </div>
  </div>


</div>