<div class="hero is-halfheight is-primary has-background-white">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-1 has-text-link">Regal Care</h2>
    </div>
  </div>

</div>
<div>
  <a href="/" class="find">
    <img src="/assets/images/ipadsearch.jpg" width="2000"/>
  
  </a>

</div>