<div class="hero is-fullheight is-primary has-background-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-8 is-offset-2">
        <h3 class="title has-text-white">Login</h3>
        <hr class="login-hr">
        <p class="subtitle has-text-white pb-4">Please log in to get started!</p>
    </div>

    <div class="box">
      <form class="login-form">
        <div class="field">
          <div class="control">
            <input id="username-login" class="input is-large" type="text" placeholder="Username" autofocus="">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input id="password-login" class="input is-large" type="password" placeholder="Password" autofocus="">
          </div>
        </div>
        <button type="submit" class="button is-block is-link is-light is-large is-fullwidth">Log In</button>
        <div class="title has-text-grey is-5 pt-4">First time here? <a class="is-underlined" href="/register">Sign up now!</a></div>
    </form>
    </div>

    
  </div>
</div>

{{!-- <form class="login-form">
  <div>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <input type="radio" id="consultant" name="role" value="consultant">
    <label for="consultant">Consultant</label><br>
    <input type="radio" id="employer" name="role" value="employer">
    <label for="employer">Employer</label><br>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form> --}}


<script src="/js/login.js"></script>
