<div class="hero is-primary is-small has-background-link">

  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title is-2 has-text-white">My Applications</h2>
    </div>
  </div>
</div>

<div class="box container" id="apps-container">
  
</div>

<script src="/js/viewapps.js"></script>